#edit-input{
    background: none;
    color: wheat;
    min-height: 1.5rem;
    width: 18rem;
    font-size: large;
}

.edit-box{
    border: 0.5px solid snow;
}

#edit-com-button{
    background-color: green;
    color: white;
    border: 0.5px solid wheat;
}

#edit-com-button:hover{
    background-color: rgb(13, 83, 13);
}