.register-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
}

.input-fields{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 6px;
}

.input-fields input{
    height: 40px;
    border-radius: 10%;
    background-color: rgb(73, 72, 72);
    color: white;
    text-align: center;
}

.input-fields input::placeholder {
  color: #ffffff; 
  opacity: 1; 
  text-align: center;
}

.input-fields button{
    background-color: blue;
    border-radius: 6%;
    color: white;
    height: 30px;
    padding: 4px;
    margin-top: 8px;
}
